<!-- <router-outlet></router-outlet> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>MyBank</h1>
      <span class="menu-spacer"></span>
      <!-- <div>
        <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
  
      </div> -->
      
      <span class="example-spacer"></span>
      <span flex></span>
      <span *ngIf="loginService.isAuthenticated" >Welcome {{this.loginService.user.firstName}} {{this.loginService.user.lastName}}</span>

      <a *ngIf="loginService.isAuthenticated" (click)="logout()" style="cursor:pointer;margin-left:1rem"
      ><span class="glyphicon glyphicon-log-out"></span> Logout</a>
    </mat-toolbar-row>

   
  
    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
  </mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav >
      <mat-nav-list *ngIf="loginService.isAuthenticated">
  
        <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
        <a mat-list-item [routerLink]="'/transactions'"> My Transactions </a>
        <a mat-list-item [routerLink]="'/addPayee'"> Add Payee </a>
        <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #e8e8e8 !important;">
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
        

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
