<div>
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
      <button
        type="button"
        class="close"
        aria-label="Close button"
        aria-describedby="modal-title"
        (click)="cancel()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <p style="margin-left:9rem" [ngStyle]="{color:color}">
          {{ message }}
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button color="warn" (click)="cancel()">Close</button>
    </div>
    </div>